/*清除默认样式*/
*{
	padding:0px;
	margin: 0px;
}
body{
	min-width: 1320px;
	height: 1000px;
	background-size: 100% 100%;
}
/*占位盒子*/
.full_box_devide80{
	height: 80px;
}
.full_box_devide200{
	height: 200px;
}
.full_box_devide300{
	height: 300px;
}
/*欢迎文字动画*/
.ml2 {
  font-size: 3.5em;
}

.ml2 .letter {
  display: inline-block;
  line-height: 1em;
}
/*欢迎文字动画*/

/*斜框背景*/
.overlay {
	position: absolute;
	width: 100%;
	height: 600px;
	top: 0;
	left: 0;
	background: #9153f8;
	-webkit-transform: skewY(-12deg);
	transform: skewY(-7deg);
	-webkit-transform-origin: 0;
	z-index: -12
}
/*斜框背景*/
/*导航栏*/
.nav{
	height: 60px;
	width: 100%;
	position: fixed;
	top: 0px;
	z-index: 999;
	background-color: rgba(145,83,248,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px); 
    box-shadow: 2px 2px 5px rgba(145,83,248,0.3);
}
.logo{
	height: 60px;
	width: 190px;
	position: relative;
	left: 40px;
}
.nav-link{
	float: right;
	list-style-type: none;
	margin-right: 30px;
	line-height: 60px;
}
.nav-link li{
	height: 60px;
	float: left;
	display: block;
	font-weight: lighter;
}
.nav-link li:last-child{
	font-weight: bold;
}
.nav-link a{
	color: #fff;
	font-size: 1.4em;
	margin: 40px;
	text-decoration: none;
}
.nav-link li:hover{
	animation:navchange 1s infinite;
	/*Safari 和 Chrome:*/
	-webkit-animation:navchange 1s infinite;
}
@-webkit-keyframes navchange
{
    from {background-color:rgba(145,83,248,0);}
    to {background-color:rgba(255,255,255,0.3);}
}
/*导航栏*/
/*头部巨人图和欢迎*/
.head_intro{
	height: 400px;
}
.letters{
	color: #fff;
    font-size: 1.5em;
    line-height: 40px;
    font-weight: lighter;
}
.bttn-primary{
	position: relative;
	top: 50px;
}
.head_intro_text{
	text-align: center; 
}
.head_intro_text h1{
	color: #fff;
	font-size: 4em;
	font-weight: lighter;
	line-height: 100px;
}
.head_intro_img{
	padding-right: 100px;
}
.top-img{
	width:260px;
	height: 400px;
	float: right;
}
/*头部巨人图和欢迎*/
/*详情介绍*/
.main_intro{

}
.main_intro img{
	
}

.main_intro_title{
	color: #9153f8;
	font-size: 3em;
	font-weight: bold;
	text-align: center
}
.main_intro_item_order{
	padding: 60px;
	height: 300px;
	width: 300px;
}
.main_intro_item_title{
	color: #9153f8;
	font-size: 3em;
	position: relative;
	top: 80px;
}
.main_intro_item_text{
	position: relative;
	top: 80px;
	color: #999;
}
/*详情介绍的图片,因为每一个宽高不一样,要每一个重新设置*/
.main_intro_item_pic{
	height: 340px;
	width: 400px;
    padding: 50px;
}
/*详情介绍的图片*/
/*详情介绍*/
/*底部版权信息*/
.footer{

background: #9153f8;
	color: #fff;
	font-weight: lighter;
}
.footer a {
	text-decoration: none;
}
.footer a:hover{
	color: #000;
	text-decoration: none;
}
/*底部波浪开始*/


.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px; /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
}

/* 动画区域 */
 
.parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }
    .content {
        height: 30vh;
    }
    h1 {
        font-size: 24px;
    }
}
/*底部波浪结束*/
/*底部版权信息*/